.custom-progress-bar {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.step {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-bottom: 4px solid #ccc;
    background: #f8f9fa;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.step.active {
    font-weight: bold;
    color: #fff;
    background: #198754;
    border-color: #198754;
}

.step.inactive {
    color: #6c757d;
}